@import url('https://fonts.googleapis.com/css2?family=Fredoka:wght@300;400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:wght@300;400;500;600;700&display=swap');

:root {
  /* Dark theme (default) */
  --primary-bg: #191b1f;
  --secondary-bg: #0d1116;
  --tertiary-bg: #2e2f36;
  --text-color: #dfe0e7;
  --secondary-text-color: #818182;
  --accent-color: #eb8400;
  --border-color: rgba(255, 255, 255, 0.12);
  --success-color: #08ac08;
  --error-color: #ff0000;

  --titlebar-height: 32px;
  --sidebar-width: 300px;
  --playbar-safe-height: 50px;
  --content-padding: 20px;
  --search-bar-height: 50px;
  --search-bar-total-height: calc(var(--search-bar-height) + 10px);
  --search-bar-spacing: calc(var(--search-bar-total-height) + var(--content-padding) * 2);
}

/* Light theme */
.light-mode {
  --primary-bg: #f5f5f7;
  --secondary-bg: #e0e0e5;
  --tertiary-bg: #ffffff;
  --text-color: #1a1a1a;
  --secondary-text-color: #818182;
  --accent-color: #eb8400;
  --border-color: rgba(0, 0, 0, 0.12);
  --success-color: #08ac08;
  --error-color: #ff0000;
}

* {
  font-family: 'Plus Jakarta Sans', sans-serif;
  font-weight: 400;
  font-size: 16px;
}

body {
  background-color: var(--primary-bg);
  color: var(--text-color);
}

h1 {
  font-size: 30px;
  font-weight: 600;
  margin: 0;
}

h2 {
  font-size: 20px;
  font-weight: 500;
  margin: 0;
}

h3 {
  font-size: 18px;
  font-weight: 400;
  margin: 0;
}

.no-select {
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.clickable {
  cursor: pointer;
}

/* Webkit browsers (Chrome, Safari, Edge) */
::-webkit-scrollbar {
  width: 8px;
  height: 8px;
}

::-webkit-scrollbar-track {
  background: var(--secondary-bg);
  border-radius: 4px;
}

::-webkit-scrollbar-thumb {
  background: var(--tertiary-bg);
  border-radius: 4px;

  &:hover {
    background: var(--accent-color);
  }
}
