@import url('https://fonts.googleapis.com/css2?family=Fredoka:wght@300;400;500;600;700&display=swap');

:root {
  --primary-bg: #191b1f;
  --secondary-bg: #0d1116;
  --tertiary-bg: #2e2f36;
  --text-color: #dfe0e7;
  --accent-color: #f5a747;
}

* {
  font-family: 'Fredoka', sans-serif;
  font-weight: 400;
  font-size: 16px;
}

body {
  background-color: var(--primary-bg);
  color: var(--text-color);
}

.no-select {
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.clickable {
  cursor: pointer;
}

/* Webkit browsers (Chrome, Safari, Edge) */
::-webkit-scrollbar {
  width: 8px;
  height: 8px;
}

::-webkit-scrollbar-track {
  background: var(--secondary-bg);
  border-radius: 4px;
}

::-webkit-scrollbar-thumb {
  background: var(--tertiary-bg);
  border-radius: 4px;

  &:hover {
    background: var(--accent-color);
  }
}
